# REQUIRED CONFIG
BOT_TOKEN = "5702962471:AAGrTQZO72XiGuYpZe9pWLtcn-eovAyg9Cg"
OWNER_ID = "5543917190"
TELEGRAM_API = "18238683"
TELEGRAM_HASH = "1068ecf4ac70a8f6ac161b7512bbf128"
# OPTIONAL CONFIG
GDRIVE_FOLDER_ID = "1IKeDiluowouhdFjtQE1ATTQgDiuKiFm3"
IS_TEAM_DRIVE = "True"
DOWNLOAD_DIR = "/usr/src/app/downloads/"
DOWNLOAD_STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
DATABASE_URL = ""
AUTHORIZED_CHATS = "-1001635741120"
SUDO_USERS = "5507620071"
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://winter.anuragcloud.workers.dev/0:/AnuragCloud"
STATUS_LIMIT = "4"
STOP_DUPLICATE = "True"
CMD_INDEX = ""
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# Leech
USER_SESSION_STRING = ""
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
DUMP_CHAT = ""
# qBittorrent/Aria2c
BASE_URL_OF_BOT = ""
SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = "https://winter.anuragcloud.workers.dev/0:/AnuragCloud/accounts.zip"
TOKEN_PICKLE_URL = "https://winter.anuragcloud.workers.dev/0:/AnuragCloud/token.pickle"
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Mega
MEGA_API_KEY = "aUJDWaBI"
MEGA_EMAIL_ID = "anuragmirror8769@gmail.com"
MEGA_PASSWORD = "anuragmirror8769@gmail.com"
# Buttons
VIEW_LINK = "True"
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
